<div class="panel panel-default">
  <div class="panel-heading">{{comment.email}}</div>
  <div class="panel-body">
    {{comment.text}}
  </div>
</div>
{{update-comment comment=comment updateCommentOnPost="updateCommentOnPost"}}
