<div class="nav-bar">
  <ul class="nav nav-tabs">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
    <li role="presentation">{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</div>
