<h2>Add Comment:</h2>
<form>
  <div class="form-group">
    <label for="email">Email:</label>
    {{input type="email" value=email}}
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    {{input type="text" value=comment}}
  </div>
  <button class="btn btn-primary"{{ action 'newComment' }}>Add Comment</button>
</form>
