{{outlet}}
<div class="row">
  <div class="col-md-6">
    <h2>Blog Posts:</h2>
    {{#each model.posts as |post|}}
      {{#link-to 'single-post' post.id}}
      {{ post-tile post = post}}
      {{/link-to}}
    {{/each}}

    {{add-post createRecord = 'createPost'}}
  </div>

  <div class="col-md-6">
    <h2>Popular Posts:</h2>

    {{popular-posts allPosts=model.allPosts}}

  </div>

</div>
